.Rproj.user
.Rhistory
.RData
.Ruserdata
*.xlsx
docs
simulation1_edited_files
simulation1_edited.html
*.rmarkdown
**/.quarto/
data/*
!data/.gitignore
!data/mock_posterior_draws.rda
!data/mock_case_data.rda
/.quarto/
*.pdf
README_files
