* text=auto
*.Rproj text
*.r text
*.R text
*.Rmd text
*.md text
*.yml text
*.yaml text
*.txt text
*.csv text
*.tsv text
*.rds binary
*.RData binary
*.rda binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
